version: '3.8'

services:
    gateway:
        volumes:
            - supportpal_resources:/supportpal/resources:ro
            - supportpal_app:/supportpal/app:ro
            - supportpal_addons:/supportpal/addons:ro
        env_file:
            - .env.custom

    supportpal:
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - supportpal_addons:/supportpal/addons
            - ./customization/:/customization
            - ./php/:/usr/local/etc/php/conf.d/custom/
        env_file:
            - .env.custom

    supportpal_websockets:
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - supportpal_addons:/supportpal/addons
            - ./customization/:/customization
            - ./php/:/usr/local/etc/php/conf.d/custom/
        env_file:
            - .env.custom

    supportpal_mq:
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - supportpal_addons:/supportpal/addons
            - ./customization/:/customization
            - ./php/:/usr/local/etc/php/conf.d/custom/
        env_file:
            - .env.custom

    supportpal_cron:
        container_name: '${CRON_SERVICE_NAME}'
        image: 'public.ecr.aws/supportpal/helpdesk:${APP_VERSION}'
        restart: always
        depends_on:
            - db
            - redis
            - mailer
            - meilisearch
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
            WS_SERVICE_NAME: ${WS_SERVICE_NAME}
            MQ_SERVICE_NAME: ${MQ_SERVICE_NAME}
            MEILISEARCH_HOST: ${MEILISEARCH_HOST}
            MEILISEARCH_KEY: ${MEILISEARCH_KEY}
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - supportpal_addons:/supportpal/addons
            - ./customization/:/customization
            - ./php/:/usr/local/etc/php/conf.d/custom/
        networks:
            - supportpal_frontend
            - supportpal_backend
        command: 'bash -c "service cron start && tail -f /var/log/cron.log"'
        env_file:
            - .env.custom

    mailer:
        volumes:
            - supportpal_mailer:/var/spool/exim4

    meilisearch:
        env_file:
            - .env.custom

volumes:
    supportpal_resources:
    supportpal_app:
    supportpal_mailer:
        external: true
        name: ${MAILER_VOLUME}
    supportpal_config:
        external: true
        name: ${CONFIG_VOLUME}
    supportpal_storage:
        external: true
        name: ${STORAGE_VOLUME}
    supportpal_addons:
        external: true
        name: ${ADDONS_VOLUME}
