version: '3.8'

services:
    configurator:
        image: public.ecr.aws/supportpal/helpdesk-configurator:${CONFIGURATOR_VERSION}
        environment:
            SECRETS_DIR: ${SECRETS_DIR}
        volumes:
            - ${SECRETS_DIR}:/secrets/
        command: 'sh /app/scripts/create_secrets.sh'
