commands:
  01_create_ssl:
    command: "mkdir -p /supportpal/ssl"

container_commands:
    01_create_ssl_certificate:
        command: "sh init-letsencrypt.sh --email user@company.com --data_path /supportpal/ssl/certbot -- example.com www.example.com && rm init-letsencrypt.sh"
