version: '3.8'

services:
    gateway:
        container_name: '${GATEWAY_SERVICE_NAME}'
        image: nginx:1.19.6-alpine
        restart: always
        depends_on:
            - supportpal
        environment:
            WEB_CONTAINER: ${WEB_SERVICE_NAME}
        volumes:
            - ./gateway/nginx-http.conf:/etc/nginx/templates/default.conf.template
            - supportpal_resources:/supportpal/resources:ro
            - supportpal_app:/supportpal/app:ro
        ports:
            - '80:80'

    supportpal:
        container_name: '${WEB_SERVICE_NAME}'
        image: 'public.ecr.aws/supportpal/helpdesk:${APP_VERSION}-web-buster'
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - ./customization/:/customization
            - ./php/custom-config.ini:/usr/local/etc/php/9999-custom-config.ini
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            HOST: ${HOST}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
        command: 'php-fpm'

volumes:
    supportpal_resources:
    supportpal_app:
    supportpal_config:
        external: true
        name: supportpal_config
    supportpal_storage:
        external: true
        name: supportpal_storage
