version: '3.8'

services:
    gateway:
        container_name: '${GATEWAY_SERVICE_NAME}'
        image: nginx:1.19.6-alpine
        restart: always
        depends_on:
            - supportpal_cron
        volumes:
            - ./gateway/nginx-http.conf:/etc/nginx/templates/default.conf.template
            - ./gateway/base.conf:/etc/nginx/templates/base.config.template
            - ./gateway/custom.conf:/etc/nginx/templates/custom.config.template
            - supportpal_resources:/supportpal/resources:ro
            - supportpal_app:/supportpal/app:ro
            - supportpal_addons:/supportpal/addons:ro
        environment:
            WEB_CONTAINER: ${CRON_SERVICE_NAME}
            WS_SERVICE_NAME: ${CRON_SERVICE_NAME}
        ports:
            - '80:80'

    supportpal_cron:
        container_name: '${CRON_SERVICE_NAME}'
        image: 'public.ecr.aws/supportpal/helpdesk:${APP_VERSION}-cron'
        depends_on:
            - mailer
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - ./customization/:/customization
            - supportpal_addons:/supportpal/addons
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            HOST: ${HOST}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
            MQ_SERVICE_NAME: ${MQ_SERVICE_NAME}
        command: 'bash -c "service cron start && php-fpm"'

    supportpal_mq:
        container_name: '${MQ_SERVICE_NAME}'
        image: 'public.ecr.aws/supportpal/helpdesk:${APP_VERSION}-mq-buster'
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - ./customization/:/customization
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            HOST: ${HOST}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
            MQ_SERVICE_NAME: ${MQ_SERVICE_NAME}
        command: 'php artisan mq:start'
        stop_grace_period: 60s

    mailer:
        container_name: ${MAILER_SERVICE_NAME}
        image: namshi/smtp
        volumes:
            - supportpal_mailer:/var/spool/exim4
        restart: always

volumes:
    supportpal_resources:
    supportpal_app:
    supportpal_config:
        external: true
        name: supportpal_config
    supportpal_storage:
        external: true
        name: supportpal_storage
    supportpal_mailer:
        external: true
        name: supportpal_mailer
    supportpal_addons:
        external: true
        name: supportpal_addons
