commands:
  01_config_vol:
    command: "mkdir -p /supportpal/config && docker volume create -d local -o o=bind -o device=/supportpal/config --name supportpal_config --opt type=none"
  02_storage_vol:
    command: "mkdir -p /supportpal/storage && docker volume create -d local -o o=bind -o device=/supportpal/storage --name supportpal_storage --opt type=none"
  03_cache_vol:
    command: "mkdir -p /supportpal/cache && docker volume create -d local -o o=bind -o device=/supportpal/cache --name supportpal_cache --opt type=none"
  04_mailer_vol:
    command: "mkdir -p /supportpal/mailer && docker volume create -d local -o o=bind -o device=/supportpal/mailer --name supportpal_mailer --opt type=none"
  05_addons_vol:
    command: "mkdir -p /supportpal/addons && docker volume create -d local -o o=bind -o device=/supportpal/addons --name supportpal_addons --opt type=none"
