#config files
/gateway/
/php/*
/docker-compose.yml
/docker-compose.override.yml
init-letsencrypt.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
