version: '3.8'

services:
    gateway:
        container_name: '${GATEWAY_SERVICE_NAME}'
        image: nginx:1.19.6-alpine
        restart: always
        environment:
            WEB_CONTAINER: ${WEB_SERVICE_NAME}
            WS_SERVICE_NAME: ${WS_SERVICE_NAME}
        depends_on:
            - supportpal
            - supportpal_websockets
        volumes:
            - ./gateway/nginx-http.conf:/etc/nginx/templates/default.conf.template
            - ./gateway/base.conf:/etc/nginx/templates/base.config.template
            - ./gateway/custom.conf:/etc/nginx/templates/custom.config.template
            - supportpal_resources:/supportpal/resources:ro
            - supportpal_app:/supportpal/app
        ports:
            - '80:80'
        networks:
            - supportpal_frontend

    supportpal:
        container_name: '${WEB_SERVICE_NAME}'
        image: 'public.ecr.aws/supportpal/helpdesk:${APP_VERSION}-web-buster'
        depends_on:
            - redis
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - ./customization/:/customization
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            HOST: ${HOST}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
        networks:
            - supportpal_frontend
            - supportpal_backend
        command: 'php-fpm'

    supportpal_cron:
        container_name: '${CRON_SERVICE_NAME}'
        image: 'public.ecr.aws/supportpal/helpdesk:${APP_VERSION}-cron-buster'
        depends_on:
            - redis
            - mailer
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - ./customization/:/customization
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            HOST: ${HOST}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
        networks:
            - supportpal_backend
        command: 'bash -c "service cron start && tail -f /var/log/cron.log"'

    supportpal_websockets:
        container_name: '${WS_SERVICE_NAME}'
        image: 'public.ecr.aws/supportpal/helpdesk:${APP_VERSION}-ws-buster'
        restart: always
        depends_on:
            - redis
            - mailer
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            HOST: ${HOST}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
            WS_SERVICE_NAME: ${WS_SERVICE_NAME}
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - ./customization/:/customization
        networks:
            - supportpal_backend
            - supportpal_frontend
        secrets:
            - db_user
            - db_password
        command: 'bash -c "sh /usr/local/bin/wait-until-ready.sh && php artisan ws:serve"'

    mailer:
        container_name: ${MAILER_SERVICE_NAME}
        image: namshi/smtp
        restart: always
        volumes:
            - supportpal_mailer:/var/spool/exim4
        networks:
            - supportpal_backend

    redis:
        container_name: '${CACHE_SERVICE_NAME}'
        restart: always
        image: redis:6.0.9-alpine
        command: redis-server --appendonly yes
        volumes:
            - supportpal_cache:/data
        networks:
            - supportpal_backend

volumes:
    supportpal_resources:
    supportpal_app:
    supportpal_config:
        external: true
        name: supportpal_config
    supportpal_storage:
        external: true
        name: supportpal_storage
    supportpal_cache:
        external: true
        name: supportpal_cache
    supportpal_mailer:
        external: true
        name: supportpal_mailer

networks:
    supportpal_frontend:
    supportpal_backend:
