version: '3.8'

services:
    gateway:
        container_name: '${GATEWAY_SERVICE_NAME}'
        image: nginx:1.19.6-alpine
        restart: always
        depends_on:
            - supportpal_websockets
        volumes:
            - ./gateway/nginx-http.conf:/etc/nginx/templates/default.conf.template
            - ./gateway/base.conf:/etc/nginx/conf.d/base.config
            - ./gateway/custom.conf:/etc/nginx/conf.d/custom.config
            - ./gateway/http.types:/etc/nginx/conf.d/http.types
            - supportpal_resources:/supportpal/resources:ro
            - supportpal_app:/supportpal/app:ro
        environment:
            WEB_CONTAINER: ${WS_SERVICE_NAME}
            WS_SERVICE_NAME: ${WS_SERVICE_NAME}
        ports:
            - '80:80'

    supportpal_websockets:
        container_name: '${WS_SERVICE_NAME}'
        image: 'kbrahney/test:2c6e613d7190c36b02a948f4201cad7d71d97d5f-ws-buster'
        restart: always
        depends_on:
            - redis
        environment:
            REDIS_HOST: ${CACHE_SERVICE_NAME}
            REDIS_PORT: ${REDIS_PORT}
            HOST: ${HOST}
            MAILER_SERVICE_NAME: ${MAILER_SERVICE_NAME}
            WS_SERVICE_NAME: ${WS_SERVICE_NAME}
        volumes:
            - supportpal_resources:/supportpal/resources
            - supportpal_app:/supportpal/app
            - supportpal_config:/supportpal/config/production
            - supportpal_storage:/supportpal/storage
            - ./customization/:/customization
        networks:
            - supportpal_backend
            - supportpal_frontend
        command: 'gosu www-data bash -c "sh /usr/local/bin/wait-until-ready.sh && php artisan ws:serve"'

volumes:
    supportpal_resources:
    supportpal_app:
    supportpal_config:
        external: true
        name: supportpal_config
    supportpal_storage:
        external: true
        name: supportpal_storage
    supportpal_mailer:
        external: true
        name: supportpal_mailer
